<h1>Contacts</h1>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
    <mat-cell *matCellDef="let contact">
      <span class="ellipsis pr-8" title="{{ contact.firstName }}">{{
        contact.firstName
      }}</span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let contact">
      <span class="ellipsis" title="{{ contact.lastName }}">{{
        contact.lastName
      }}</span>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="editContact(row.id)"
  ></mat-row>
</mat-table>
